
.kta-datepicker {
  .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
    stroke: #000;
  }
  .react-datepicker {
    border-radius: 24px;
    border-color: #000;
    overflow: hidden;
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  .react-datepicker__day--selected {
    background-color: #000;
  }
  .react-datepicker__navigation--previous {
    left: 4px;
    top: 4px;
  }
  .react-datepicker__navigation--next {
    right: 2px;
    top: 4px;
  }
  .react-datepicker__input-container {
    position: relative;
    width: 100%;

    input {
      width: 100%;
    }
  }

  // Remove default blue background on selected day
  .react-datepicker__day--keyboard-selected, 
  .react-datepicker__day--keyboard-selected:not([aria-disabled="true"]):hover {
    background-color: white;
  }
}