
.kta-datepicker {

  .react-datepicker__input-container {
    position: relative;
    width: fit-content;
  }

  // Remove default blue background on selected day
  .react-datepicker__day--keyboard-selected, 
  .react-datepicker__day--keyboard-selected:not([aria-disabled="true"]):hover {
    background-color: white;
  }
}