@import "tailwindcss";

@import "./typography.css";

@theme {
  /* Colors */
  --color-sand: #fff5e2;
  --color-sand-light: #fff9ed;
  --color-sand-dark: #ffe8cd;
  --color-orange: #ffcd6b;
  --color-orange-light: #fddc9b;
  --color-blue-light: #e0e7ea;

  --color-gray: #4f4e4e;

  --color-accent-green: #2ecc71;
  --color-accent-orange: #fdb230;
  --color-accent-red: #ff0a0a;
  /* Typography */
  --font-sans: "Nexa", sans-serif;

  /* Breakpoints */
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-smallDesktop: 1024px;
  --breakpoint-desktop: 1440px;
}
